@font-face {
    src: url('../fonts/cubano-regular-webfont.woff');
    font-family: 'Cubano';
}
body {
  overflow-x: hidden;
  height: 100%;
  background-color: #111111;
}

.lsrplayer-section-header {
  width: 100%;
    background: #7E112D;
    background: -webkit-linear-gradient(125deg, purple 50%, white 50.1%, green 50.5%);
    background: -o-linear-gradient(125deg, purple 50%, white 50.1%, green 50.5%);
    background: -moz-linear-gradient(125deg, purple 50%, white 50.1%, green 50.5%);
    background: linear-gradient(125deg, purple 50%, white 50.1%, green 50.5%);
  text-align: center;
  padding: 2%;
}

.lsrplayer-logo {
  max-width: 35%;
  max-height: 160px;
}


.lsrplayer-section-player {
  background-color: #222222;
  padding: 3% 3%;
  border-bottom: 8px solid #000000;

}

.lsrplayer-jp-controls {
  height: 35px;
  width: auto;
}

.lsrplayer-volumecontrolscontainer {
  height: 35px;
  padding-top: 15px;
}

.lsrplayer-section-ondemandheader {
  background-color: green;
  font-family: 'Cubano';
  color: #ecf0f1;
  text-align: center;
  font-size: 1.25em;
}

.lsrplayer-section-ondemand {
  border-bottom: 8px solid #000000;
  background-color: #222222;
  padding: 3% 3%;
  color: #ecf0f1;
  font-size: 1.2em;
}

.lsrplayer-ondemand-thumbnail {
  width: 100%;
  max-width: 72px;
  max-height: 72px;
  height: auto;
}

.lsrplayer-ondemand-row {
  padding-bottom: 12px;
}

.lsrplayer-ondemand-thumbcol {
  text-align: right;
}

.lsrplayer-ondemand-row a {
  color: #ecf0f1;
}
/*varsity colours!*/
.btn-lsr-varity-green {
    background-color: green !important;
}

.btn-lsr-varity-green {
    background-color: purple !important;
}

.btn-lsr {
  background-color: #7E112D;
  font-family: 'Cubano';
  color: #ecf0f1;
  font-size: 1.2em;
}

#lsr-stop-img:hover {
    content: url('./jplayer-theme/img/stop-hover.png');
}

#lsr-play-img:hover {
    content: url('./jplayer-theme/img/play-hover.png');
}

#lsr-mute-img:hover {
    content: url('./jplayer-theme/img/vol-mute-hover.png');
}

#lsr-volmax-img:hover {
    content: url('./jplayer-theme/img/vol-max-hover.png');
}

.lsrplayer-returnlive a {
  color: #ecf0f1;
  font-family: 'Cubano';
  font-size: 1.25em;
  text-align: center;
  padding-top: 1%;
}

#ondemand-player {
  text-align: center;
}

.lsrplayer-section-sponsor {
  background-color: #7F379B;
  height: 80px;
  text-align: center;
  width: 100%;
}

.lsrplayer-section-sponsor img {
  height: 100%;
}
